body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./photos/pexels-taryn-elliott-4112235.jpg");
    background-size: cover;
    background-position: 100%;
    color: #f7ca00;
    font-family: sans-serif;
    font-family: 'Unbounded', cursive;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.navlist-box ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    font-size: larger;
}

.call-box {
    display: flex;
    align-items: center;
    font-size: larger;
}

.line-box {
    display: flex;
    justify-content: right;
}

hr {
    width: 70%;
    margin: 0px;
    height: 2.5px;
    background-color: #fff;
}

.main-heading {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
    margin-top: 80px;
    font-size: x-large;


}

.btn {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
    margin-top: 40px;
    /* border-radius: 50px;
    background: transparent; */


}

.btn button {
    border-radius: 50px;
    background: transparent;
    font-size: 25px;
    padding: 10px 35px;
    color: #f7ca00;
    border-color: #f7ca00;
    ;
}

.box-1{
    height: 120px;
    width: 280px;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    top: -250px;
    left: -180px;
    float: right;
    padding: 20px;
}

.icon-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px ;
    width: 100px;
    background-color: #fff;
    border-radius: 50px;
    /* margin-bottom: 20px; */
}
.box-1 p{
    margin-bottom: 0px;
}
 
.line-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    position: relative;
    top: -90px;
    left: 75px;
}
.line-2 hr{
    width: 1px;
    height: 100px;
}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
}

.box-2{
    height: 130px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    display: flex;
}

.icon-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px ;
    width: 120px;
    background-color: #fff;
    border-radius: 50px;
    
}
.line-3{
    display: flex;
    align-items: center;
    height: 1px;
    width: 100px;

}
.box-2-main{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    float: right;

}
.box-2{
    display: flex;
    flex-direction: column;
}
.icon-box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100px;
    background-color: #fff;
    border-radius: 50px;
    /* margin-bottom: 20px; */
}